.map-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 60vw;
    justify-content: center;
    align-items: center;
    background-color: #e5ca73;
    border: 0.5em solid #eaffda;
    margin: auto;
    padding: 2em;
}

 #world-map img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
} 

