.map-container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    background-color: #C7C7A6;
    border: 5px solid #eaffda;
    margin: auto;
}
