
/* Font styes for all pages */

.header h1, .nav-links a {
    font-family: "Permanent Marker", cursive;
    margin: 0;
    letter-spacing: 0.15em;
}

.header p {
    font-family: "Permanent Marker", cursive;
    margin-bottom: 0.5em;
    letter-spacing: 0.3em;
}


/* Main Navigation, styles across all pages */

.navigation-bar {
    display: flex;
    height: 4em;
    background: #C06D1F;
    margin: 0;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.right-links {
    display: flex;
}

.nav-links a {
    color: #f2f2f2;
    align-items: center;
    display: flex;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.nav-links a:hover {
    background-color: #523A28;
    overflow: hidden;
}

.top-logo {
    width: 60px;
    height: 50px;
    margin: 0 auto;
}

.video-container {
    width: 100%;
    height: 7em;
    padding: none;
    margin: auto;
}


.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*body styles for index.html*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #1c1917;
    border-radius: 1em;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    margin: 0em auto;
    margin-bottom: 0.5em;
    padding: 0.5em;
    font-weight: bold;
    color: white;
    border-bottom: 3px solid #C06D1F;
    /* border-top: 3px solid #C06D1F; */
    background-color: #1c1917;
}


.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    margin: 0em auto;
    margin-bottom: 0.5em;
    padding: 0.5em;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    color: white;
    border-bottom: 3px solid #C06D1F;
    /* border-top: 3px solid #C06D1F; */
    background-color: #1c1917;
}

#intro-title {
    font-weight: bold;
    color: white;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.title-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0.5em;
    width: 70%;
    height: 800px;
    margin: auto auto 4em;
    background-color: #1c1917;
    border-radius: 5px;
    color:#7B583D;
    position: relative;
}

.flexbox-container > div {
    margin: 1em;
    flex: 1;
}

/* Map section styles */


#map-label {
    position: absolute;
    top: 5%;
    left: 3em;
    background-color: #f1f1f15a;
    box-shadow: inset 0 0 10px #f3f0f08b;
    color: white;
    font-weight: bold;
    padding: 0.2em;
    border-radius: 3px;
    z-index: 999; 
}

/* continent button dropdown styles */

#cont-dropbtn {
    position: absolute;
    top: 1em;
    right: 1rem;
    width: 15vw;
    height: 6vh;;
    display: block;
    color: white;
    border: none;
    font-weight: bold; 
    background-color: #523A28; 
    border-radius: 2px;
    z-index: 1000;
}

#cont-dropbtn:hover, .cont-dropbtn:focus {
    background-color: #c7c7a654;
    color: #C7C7A6;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 15px;
    top: 7.64%;
    width: 10vw;
    height: 6vh;;
    background-color: #523A28;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1000;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #523A28;
    color: #C7C7A6;
}

/* Show the dropdown menu on hover */
.show {display: block;}


/*scroll button*/
.scroll-button {
    position: absolute;
    bottom: 0;
    left: 45%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #523A283b;
    font-style: bold;
    color: white;
    cursor: pointer;
    padding: 15px;
}

/* popup styles for map */

.popup-content img {
    width: 150px;
    height: 100px;
}

.popup-content p, a {
    margin: 0;
    padding: 0;
}











.activites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C7C7A6;
    border: 5px solid #A3EBB1;
}

#quiz-img {
    width: 40%;
    height: 40%;
}

.top-facts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #C7C7A6;
    border: 5px solid #A3EBB1;
}




/* Media Queries */

@media screen and (max-width: 1000px) {
    
    .flexbox-container {
        width: 90%;
    }

    #map-label, #map {
        display: none;
    }


    .flexbox-container > div {
        flex: 1;
    }

    .world-info {
        margin-left: 0;
    }

    #map {
        width: 100%;
    }

    .world-info p {
        column-count: 1;
    }

    .activites {
        margin: 0;
    }

    #quiz-img {
        width: 100%;
        height: 100%;
    }

    .top-facts {
        margin: 0;
    }
}
