.africa-nav, .europe-nav {
  background-color:#561217;
}

.africa-body, .europe-body {
  background-color: #1c1917;
}

.africa-color, .europe-color {
  background-color: #2c6e63;;
}

.north-america-nav, .south-america-nav {
  background-color:#911717;
}

.north-america-body, .south-america-body {
  background-color: #e6e6e6;
}

.north-america-color, .south-america-color {
  background-color: #093b85;
}

.asia-nav, .australia-nav {
  background-color:#1b4164;
}
.asia-color, .australia-color {
  background-color: #0f7970;
}
.asia-body, .australia-body {
  background-color: #e6cabc;
}

.grid-parent {
  background-color: #e7e5e5;
  border: 3px solid #000000;
}
.grid-parent {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 5em;
  padding: 5em;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbe5b6;
  border: 3px solid #000000;
  text-align: center;
  overflow: auto;
}

.image-size {
  max-width: 90%; 
  height: auto;
  padding: 1em;
  flex-grow: 1;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-shadow: inset 0 0 10px #1c1917;
  text-align: justify;
  padding: 2em;
  margin: 0;
  position: relative;
}

.text-box h2 {
  margin: 0;
}

.show-stats {
  position: absolute;
  bottom: 0.2em;
  right: 0.2em;
  background-color: #2c6e63;
  text-align: center;
  font-weight: bold;
  padding: 0.5em;
  color: white;
}

.hide-stats {
  display: none;
  position: absolute;
  bottom: 0.2em;
  right: 0.2em;
  background-color: #2c6e63;
  text-align: center;
  font-weight: bold;
  padding: 0.5em;
  color: white;
}