.quiz-nav, .map-page-nav {
  background-color: #185a4b;
  margin-bottom: 0.5em;
}

.quiz-body, .map-page-body {
  background-image: url(../images/pexels-mike-fallarme-413195.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 100vh; /* Add this */
}

.quiz-color, .map-page-color{
  background-color: #032c0f;
  border-bottom: 3px solid #7de7ab;
}

.facts-nav {
  background-color: #185a4b;
  margin-bottom: 0.5em;
}

.facts-body {
  background-color: #032c0f;
}

.facts-color {
  background-color: #7de7ab;
  border-bottom: 3px solid #185a4b;
}



/*quiz styles for quiz.html*/

.quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10em;
  background-color: #7fe69e;
  margin: auto;
  box-sizing: border-box;
  height: 50vh;
  width: 70%;
  position: relative;
}

#quiz-title {
  font-size: 2em;
  width: 100%;
  background-color:#7fe69e;
  color: rgb(50, 32, 28);
}


#quiz-complete {
  display: none;
}

#countdown {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 4em;
  height: 4em;
  margin: 1em;
  border-radius: 50%;
  background-color: #341c11;
  border: 2px solid #00873b;
}

#countdown-number {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#view-score, #end-quiz-button {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  padding: 0.5em;
  margin-bottom: 1em;
}

#start-button {
  position: absolute; 
  font-size: 1rem;
  bottom: 0; 
  left: 50%; 
  padding: 0.5em;
  margin: 1em;
  transform: translateX(-50%);
  font-weight: bold;
  color: rgb(50, 32, 28);
  background-color: #ffe6e2ea;
  border-radius: 1em;
  border: 2px solid rgb(50, 32, 28);
  cursor: pointer;
}

.next-button {
  display: none;
  position: absolute; 
  font-size: 1rem;
  bottom: 0; 
  left: 50%; 
  padding: 0.5em;
  margin: 1em;
  transform: translateX(-50%);
  font-weight: bold;
  color: rgb(50, 32, 28);
  background-color: #ffe6e2ea;
  border-radius: 1em;
  border: 2px solid rgb(50, 32, 28);
  cursor: pointer;
}


.question {
  display: none;
  background-color: #f9f9f95e;
  color: rgb(50, 32, 28);
  font-weight: bold;
  width: 100%;
  padding: 5em;
  border-radius: 5px
}

.swal-popup {
  margin-bottom: 12%;
}

.answers {
  display: none;
}

/*map styles for map-page.html*/
.map-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  padding: 2em;
  color: white;
  font-size: 1.2em;
}

.map-container{
  margin: auto;
  width: autp;
}

.map-container img {
  width: 100%;
  height: auto;
}

/*facts styles for facts.html*/

#facts {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fact-section {
  background-color: #fff; /* White background */
  width: 70%;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.fact-section h2 {
  color: #333; /* Dark gray text */
  margin-bottom: 10px;
}

.fact-section p {
  color: #666; /* Medium gray text */
}


@media screen and (max-width: 1000px) {
  .quiz-container {
    width: auto;
    height: 400px; 
    padding: 9em; 
  }

  #quiz-title {
    font-size: 1.5em;
    width: auto;
  }


  .question {
    display: none;
    background-color: #f9f9f95e;
    color: rgb(50, 32, 28);
    font-weight: bold;
    padding: 1em; 
    border-radius: 5px;
  }

}
