
/* Font styes for all pages */

.header h1, .nav-links a {
    font-family: "Permanent Marker", cursive;
    margin: 0;
    letter-spacing: 0.15em;
}

.header p {
    font-family: "Permanent Marker", cursive;
    margin-bottom: 0.5em;
    letter-spacing: 0.3em;
}

/* Main Navigation, styles across all pages */

.nav-bar {
    display: flex;
    height: 4em;
    margin: 0;
    top: 0;
    z-index: 1000;
}

.default-body {
    background-color:#171a1c;
    padding: 0;
}

.default-header {
    background-color: #171a1c;
    border-bottom: 2px solid #C06D1F;
}

.default-nav {
    background-color: #C06D1F;
}


.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.right-links {
    display: flex;
}

.nav-links a {
    color: #f2f2f2;
    align-items: center;
    display: flex;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.nav-links a:hover {
    background-color: #523A28;
    overflow: hidden;
}

.top-logo {
    width: 60px;
    height: 50px;
    margin: 0 auto;
}

.video-container {
    width: 100%;
    height: 7em;
    padding: none;
    margin: auto;
}


.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*body styles for index.html*/

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border-radius: 1em;
    background-color: #171a1c;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    margin: 0em auto;
    margin-bottom: 0.5em;
    padding: 0.5em;
    font-weight: bold;
    color: white;
}

.site-footer {
    width: 100%;
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 0;
    position: bottom;
    bottom: 0;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    margin: auto;
    margin-bottom: 0.5em;
    padding: 0.5em;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    color: white;
    border-bottom: 3px solid #C06D1F;
    /* border-top: 3px solid #C06D1F; */
}


.flexbox-container-map {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0.5em;
    width: 70%;
    height: 800px;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Map section styles */
#map {
    flex: 1;
    width: 100%; 
    height: 800px;
    margin: auto;
  }

#map-label {
    position: absolute;
    top: 5%;
    left: 3em;
    background-color: #f1f1f15a;
    box-shadow: inset 0 0 10px #f3f0f08b;
    color: white;
    font-weight: bold;
    padding: 0.2em;
    border-radius: 3px;
    z-index: 999; 
}

/* continent button dropdown styles */

#cont-dropbtn {
    position: absolute;
    top: 1em;
    right: 1rem;
    color: white;
    background-color: #523A28; 
    cursor: pointer;
}

#cont-dropbtn:hover, .cont-dropbtn:focus {
    background-color: #c7c7a654;
    color: #C7C7A6;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 30px;
    width: 190px;
    top: 8%;
    background-color: #523A28;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #523A28;
    color: #C7C7A6;
}

.dropdown-content.show {
    display: block;
  }
/*scroll button*/
#flat-map-link{
    top: 9em;
    left: 3em;
    background-color: #523A283b;
    color: white;
    cursor: pointer;
}


.button-style {
    position: absolute;
    font-size: 16px; 
    text-decoration: none;
    font-weight: bold;
    background-color: #523A283b;
    cursor: pointer;
    text-align: center;
    width: auto;
    height: auto;
    padding: 0.5em;
    border-radius: 5px;
    margin: 0.5em;
    line-height: 1.5em;
    z-index: 99;
  }
  

/* popup styles for map */

.popup-content img {
    width: 150px;
    height: 100px;
}

.popup-content p, a {
    margin: 0;
    padding: 0;
}

/* Other sections */
.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    padding: 0.5em;
    width: 70%;
    margin: 1em auto;
    height: auto;
    align-items: stretch;
    position: relative;
  }

  .activities-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
    width: 40vw;
    background-image: url(../images/freepik-pattern.jpg);
    border: 3px solid #C06D1F;
    margin: 2em;
}

a {
    text-decoration: none;
}

.text-background h2 {
    text-align: center;
    font-size: auto;
    color: #fffc5d; /* A darker brown for contrast */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background color */
    padding: 0.5em; /* Add some padding to give the text some room */
}


.default-footer {
    background-color: #C06D1F; /* Change to your preferred color */
    color: #fff; /* Change text color to white */
    padding: 20px 0; /* Add some vertical padding */
    text-align: center; /* Center the text */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-info p {
    margin: 0; /* Remove default paragraph margins */
}

.site-footer a {
    /*remove default link styles*/
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
}




/* Media Queries */

@media screen and (max-width: 1000px) {
    
    .header {
        width: 90%;
    }

    .intro-container {
        width: 70%;
    }

    .flexbox-container-map {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1em;
        padding: 0.5em;
        width: 70%;
        height: 400px;
        margin: auto;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    #map-label{
        display:none;
    }

    #flat-map-link {
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
       
    }

    .world-info {
        margin-left: 0;
    }

    #map {
        width: 100%;
        height: auto;
    }

    .world-info p {
        column-count: 1;
    }

    .activites {
        margin: 0;
    }

    #quiz-img {
        width: 100%;
        height: 100%;
    }

    .top-facts {
        margin: 0;
    }
}
